* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
  margin: auto;
  margin-top: 50px;
  max-width: 800px;
  padding: 50px;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.434);
}

.mainContainer h1,
small {
  text-align: center;
  display: block;
}

.mainContainer H1 {
  text-decoration: underline;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-size: 40px;
  letter-spacing: 2px;
  font-style: italic;
  text-shadow: 2px 2px 2px black;
}

a {
  color: black;
  text-decoration: none;
}

small {
  margin-bottom: 40px;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 2px;
}

h1 {
  color: orange;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 30px;
}

h2 {
  margin: 40px;
  border-bottom: 4px solid orange;
  padding-bottom: 5px;
  display: inline-block;
}
h4 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 30px;
}

ul {
  margin-bottom: 20px;
}

span {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-bottom: 2px solid orange;
}

.backLink {
  color: black;
  text-decoration: none;
  border-bottom: 4px solid orange;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bolder;
  font-style: italic;
}
.backLink:hover {
  opacity: 50%;
  font-size: 20px;
}

.techContainer {
  border: 2px solid gray;
  border-radius: 20px;
  margin-bottom: 40px;
  box-shadow: 4px 4px 4px lightgray;
}

.techContainer h2 {
  margin: 20px;
}

.techContainer Button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 15px;
  background-color: white;
  border: 3px solid orange;
  font-weight: bolder;
  font-style: italic;
  cursor: pointer;
}
.techContainer button:hover {
  opacity: 50%;
  color: orange;
}
.buttonsContainer {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
