* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
  margin: auto;
  margin-top: 50px;
  max-width: 800px;
  padding: 50px;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.434);
}

.mainContainer h1,
small {
  text-align: center;
  display: block;
}

.mainContainer H1 {
  text-decoration: underline;
  padding-bottom: 10px;
}

small {
  margin-bottom: 40px;
}
.techContainer h2 {
  margin-bottom: 30px;
  border-bottom: 4px solid orange;
  padding-bottom: 5px;
  display: inline-block;
}

.techContainer {
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.mainButton {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid orange;
  cursor: pointer;
  font-size: 20px;
  background-color: rgba(211, 211, 211, 0.45);
}

.mainButton:hover {
  border: 2px solid orange;
  opacity: 0.5;
  text-decoration: underline;
  color: orange;
}

.subtitle {
}

h2 {
  margin: 20px;
  border-bottom: 4px solid orange;
  padding-bottom: 5px;
  display: inline-block;
}

p {
  margin-bottom: 30px;
}

span {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-bottom: 2px solid orange;
}
